@font-face {
    font-family: "Cursed Timer ULiL";
    src:
      local("Cursed Timer ULiL"),
      url("CursedTimerUlil-Aznm.ttf") format("opentype") tech(color-COLRv1),
      url("CursedTimerUlil-Aznm.ttf") format("opentype"),
      url("CursedTimerUlil-Aznm.ttf") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9CA3AF;

    margin: 0;
    margin-top: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1B244A; 

    max-width: 400px;
    margin: auto;
    border: 5px solid white;
    border-radius: 10px;
    padding: 15px;
}

.scores-section {
    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: 400px;
    margin: auto;
    gap: 20px;
}

/***SCORE TITLE***/
h3 {    
    margin-top: 15px;
    margin-bottom: .35em;
    
    font-family: verdana;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
}

/***SCORE BOXES***/
.score {
    background-color: #080001;

    border-radius: 5px;
    padding: 10px 0 0 0;
    
    font-family: 'Cursed Timer ULiL';
    font-size: 3em;
    color: #F94F6D;
    text-align: center;
}

.score.winning-score {
    background-color: #F59E0B;
}

/***ADDITION BUTTONS***/
.add-numbers {
    display: flex;
    justify-content: space-areound;
    
    gap: 10px;
}

.number-box {
    margin: 15px 0;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: .5rem;
    
    font-family: 'Cursed Timer ULiL';
    font-size: 18px;
    color: #9AABD8;
}

.number-box:hover {
    background-color: rgba(0, 0, 0, .2);

    border-color: #fff;
    
    cursor: pointer;

    color: #fff;
}

/***NEW GAME***/
.new-game-button {
    background-color: #047857;

    margin: 5% 0;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;

    font-family: verdana;
    color: #303030;
    font-weight: bold;
}

.new-game-button:hover {
    background-color: #10B981;
    
    cursor: pointer;
}
